.wallet_account{
    margin-top: 10px;
    margin-right: 15px;
}

.button_wallet{
    background-color: #CF1B27 !important;
}

.text-sing-in{
    margin-top: 18px;
    margin-right: 15px;
    color: #fff;
}

